@import "./menu.css";

body {
  background: url("../img/light-bulbs-5488573_1280.webp") center no-repeat;
  background-size: cover;
}

#home {
  background: rgba(24, 24, 24, 0.771);
  color: aliceblue;
  font-size: 1.3rem;
  height: calc(100vh - 3rem);
  width: 100vw;
  overflow: hidden;
  padding: 1.3rem;
}

#home p {
  line-height: 1.8;
}

.cta-btn {
  display: inline-block;
  border: 2px solid aliceblue;
  border-radius: 10px;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem;
  transition: all 0.5s ease-out;
}

.cta-btn:hover {
  background: var(--primary);
}
