.home-menu
{
  background: #000;
  color: aliceblue;
  border-bottom: 3px solid var(--primary);
  height: 3rem;
  padding: 0 1rem;
}

.home-nav
{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav-list, .social-links
{
  display: flex;
  list-style: none;
}

.nav-item, .social-link
{
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.5s ease-out;
}

.nav-item:hover, .social-link:hover
{
  color: var(--secondary);
}

.nav-item
{
  margin-right: 2rem;
}

.social-link
{
  margin-left: 2rem;
}

.logo a
{
  width: 2rem;
  height: 2rem;
  background: url('./../../img/logo\ algerian\ extra-condensed\ aliceblue.png') center no-repeat;
  background-size: cover;
  transition: all 0.5s ease-out;
}

.logo a:hover
{
  background-image: url('./../../img/logo\ algerian\ extra-condensed\ yellow.png');
}