@import "./../../about/css/menu-footer-mobile.css";
@media screen and (max-width: 500px) {
	section.intro {
		margin-top: 2.3rem;
	}

	.intro .right {
		flex: 5;
		margin: 0;
	}

	.intro .page-heading {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.intro .left {
		margin-top: 8rem;
		flex: 1;
	}

	.form-message {
		font-size: 1.2rem;
		line-height: 1.7rem;
	}

	.form-input {
		width: 100%;
	}
}
