:root
{
  --intro-height: 27rem
}

/*intro*/
.intro
{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 3rem;
}

.intro div
{
  justify-content: flex-end;
  height: var(--intro-height);
}

.potrait
{
  flex: 1;
  align-items: center;
}

.potrait img
{
  height: var(--intro-height);
  width: calc(33 * var(--intro-height) / 35);
}

.intro-text
{
  flex: 1;
  padding: 0 10vw;
}

.page-heading
{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.bio
{
  justify-content: space-between;
  color: #333;
  font-weight: 320;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.lead
{
  font-weight: 350;
  color: #444;
  font-size: 1.4rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.intro .social
{
  background: var(--primary);
  color: #000;
  margin-top: 1rem;
}

.intro .social-links
{
  justify-content: space-evenly;
  padding: 7px 0;
  width: 70%;
}

/* front end web developer? */
.abt-front
{
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.abt-front>div
{
  flex: 1;
}

.right
{
  padding: 10vw;
}

.front-heading
{
  text-transform: capitalize;
  color: #333;
  font-weight: 350;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.23rem;
}

.front-text
{
  color: #333;
  font-weight: 320;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* CTA */
.cta-btn
{
  text-transform: capitalize;
  color: #000;
  background: var(--secondary);
  border: 3px solid var(--primary);
  font-weight: 350;
  font-size: 1.5rem;
  padding: 2rem 6rem;
  transition: all 0.5s ease-out;
}

.cta-btn:hover
{
  color: aliceblue;
  background: var(--primary);
  border: 3px solid var(--secondary);
  font-weight: 350;
  font-size: 1.5rem;
  padding: 1rem 6rem;
  margin: 1rem 0;
}

/* fun facts */
.fun-facts
{
  display: flex;
  margin: 3rem 0;
  padding: 0 2rem;
  min-height: 30rem;
}

.fun-facts>div
{
  flex: 1;
}

.facts-heading
{
  text-transform: capitalize;
  color: #333;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  width: 100%;
  margin-bottom: 1.23rem;
}

.fact
{
  color: #333;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* footer */
footer
{
  background: #000;
  color: aliceblue;
  border-bottom: 3px solid var(--primary);
  height: 10rem;
  display: grid;
  grid-template: repeat(10, 1rem) / repeat(100, 1vw);
}

.logo
{
  grid-column: 2 / 7;
  grid-row: 2 / 6;
  background: url('../../img/logo\ algerian\ extra-condensed\ aliceblue.png') center no-repeat;
  background-size: cover;
  display: inline-block;
  transition: all 0.5s ease-out;
}

.logo:hover
{
  background-image: url('../../img/logo\ algerian\ extra-condensed\ yellow.png');
}

footer .social
{
  grid-column: 88 / 98;
  grid-row: 2 / 6;
}

footer .social-links
{
  width: 100%;
  justify-content: space-evenly;
}

.copyright
{
  grid-column: 1 / -1;
  grid-row: 8 / -1;
  text-align: center;
}