:root
{
  --intro-height: 27rem
}
/*intro*/
.intro
{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 3rem;
}

.intro div
{
  justify-content: flex-end;
  height: var(--intro-height);
}

.potrait
{
  flex: 1;
  align-items: center;
}

.potrait img
{
  height: var(--intro-height);
  width: calc(33 * var(--intro-height) / 35);
}

.intro-text
{
  flex: 1;
  padding: 0 10vw;
}

.page-heading
{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.bio
{
  justify-content: space-between;
  color: #333;
  font-weight: 320;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.lead
{
  font-weight: 350;
  color: #444;
  font-size: 1.4rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.social
{
  background: var(--primary);
  color: #000;
  margin-top: 1rem;
}

.social-links
{
  justify-content: space-evenly;
  padding: 7px 0;
  width: 70%;
}

/* front end web developer? */
.abt-front
{
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.abt-front>div
{
  flex: 1;
}

.right
{
  padding: 10vw;
}

.front-heading
{
  color: #333;
  font-weight: 350;
  font-size: 1.7rem;
  line-height: 1.75rem;
  margin-bottom: 1.23rem;
}

.front-text
{
  color: #333;
  font-weight: 320;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* CTA */
.cta-btn
{
  text-transform: capitalize;
  color: #000;
  background: var(--secondary);
  border: 3px solid var(--primary);
  font-weight: 350;
  font-size: 1.5rem;
  padding: 2rem 6rem;
  transition: all 0.5s ease-out;
}

.cta-btn:hover
{
  color: aliceblue;
  background: var(--primary);
  border: 3px solid var(--secondary);
  font-weight: 350;
  font-size: 1.5rem;
  padding: 1rem 6rem;
  margin: 1rem 0;
}