footer {
	background: #000;
	color: aliceblue;
	border-bottom: 3px solid var(--primary);
	height: 10rem;
	width: 100vw;
	padding: 20px calc(var(--left-padding) - 1rem);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo {
	grid-column-start: 1;
	grid-row-start: 2;
	height: 5rem;
	width: 5rem;
	background: url("../../img/logo\ algerian\ extra-condensed\ aliceblue.png")
		center no-repeat;
	background-size: cover;
	display: inline-block;
	transition: all 0.5s ease-out;
}

.logo:hover {
	background-image: url("../../img/logo\ algerian\ extra-condensed\ yellow.png");
}

footer .social {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

footer .social-links {
	justify-content: space-between;
}

.social-link {
	margin-left: 1.3rem;
}

.social a:hover {
	color: var(--secondary);
}

.copyright {
	width: 100%;
	text-align: center;
}
