footer {
	background: #000;
	color: aliceblue;
	border-bottom: 3px solid var(--primary);
	height: 10rem;
	padding: 0 calc(var(--left-padding) - 1rem);
	display: grid;
	grid-template: repeat(10, 1rem) / repeat(100, 1vw);
}

.logo {
	grid-column: 1 / 6;
	grid-row: 2 / 6;
	background: url("../../img/logo\ algerian\ extra-condensed\ aliceblue.png")
		center no-repeat;
	background-size: cover;
	display: inline-block;
	transition: all 0.5s ease-out;
}

.logo:hover {
	background-image: url("../../img/logo\ algerian\ extra-condensed\ yellow.png");
}

footer .social {
	grid-column: 78 / 98;
	grid-row: 2 / 6;
}

footer .social-links {
	width: 100%;
	justify-content: space-evenly;
}

.social a:hover {
	color: var(--secondary);
}

.copyright {
	grid-column: 1 / -1;
	grid-row: 8 / -1;
	text-align: center;
}
