body
{
  background: #333;
  color: aliceblue;
}

/* menu button */
div.btn-line
{
  background: aliceblue;
}

div.btn-line.close:nth-child(1), div.btn-line.close:nth-child(3)
{
  background: aliceblue;
}

/* intro */
.intro
{
  margin: 3rem 0;
  padding: 0 2rem;
}

.page-heading
{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 3rem;
}

.intro-text
{
  color: rgb(203, 213, 221);
  font-weight: 350;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

/* projects */
.projects
{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.project
{
  height: 400px;
  border: 2px solid var(--secondary);
}

.project-name
{
  text-transform: capitalize;
  color: rgb(203, 213, 221);
  border-bottom: 5px solid var(--primary);
  font-size: 1.6rem;
  height: 3rem;
}

.project-img
{
  width: 100%;
  height: calc(100% - 5.6rem);
}

.project-img img
{
  height: 100%;
}

.tags
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--primary);
  height: 2.6rem;
}

.tag
{
  background: #333;
  padding: 0 0.7rem;
}